<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674788639640-lptvs9nqj49cboflbhespm33lth8p5se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674788639640-lptvs9nqj49cboflbhespm33lth8p5se</string>
	<key>API_KEY</key>
	<string>AIzaSyDveuZaUAjV4JbMKN64rlLh-Y6nUbxv1lc</string>
	<key>GCM_SENDER_ID</key>
	<string>674788639640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LaybullEcommerce.Laybull</string>
	<key>PROJECT_ID</key>
	<string>laybull-79bdd</string>
	<key>STORAGE_BUCKET</key>
	<string>laybull-79bdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674788639640:ios:703de60aca4b60b31c61ed</string>
</dict>
</plist>